:root{
    --primary-color: #1d5888;
    --secondary-color: #35cf5b;
    --dark-color: #292929;
    --white-color: #dff3e4;
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}

.bsicon {
    color:purple;
}

.jsicon {
    color:rgb(226, 211, 4);
}

.html5icon {
    color:orangered;
}

.css3icon {
    color:rgb(11,82,214);
}

.checklist > li i {
    color: var(--secondary-color)
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}
 
.input {
    border: 3px #1d5888 solid;
    margin-top: 1rem;
    margin: 1rem .5rem .25rem 2rem;
}

.display {
    border: 3px #1d5888 solid;
    margin-top: 1rem;
    margin: 1rem .5rem .25rem 2rem;
}

.breakdown {
    border: 3px #1d5888 solid;
    margin-top: 1rem;
    margin: 1rem .5rem .25rem 2rem;
}

main>.container {
    margin: 60px, 0, 0, 0;
    padding: 60px 15px 0;
}

.footer {
    background-color: var(--dark-color);
    padding-right: 1rem;
    margin-top:auto;
    flex-shrink: 0;
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover{
    opacity: 0.90;
    color: var(--secondary-color)
}